In [36]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [8]:
df = pd.read_csv('train.csv')

In [9]:
df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [10]:
df.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [13]:
nf = df[['LotArea', 'BedroomAbvGr','BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath', 'SalePrice']].copy()

In [15]:
nf

,LotArea,BedroomAbvGr,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,SalePrice
0,8450,3,1,0,2,1,208500
1,9600,3,0,1,2,0,181500
2,11250,3,1,0,2,1,223500
3,9550,3,1,0,1,0,140000
4,14260,4,1,0,2,1,250000
...,...,...,...,...,...,...,...
1455,7917,3,0,0,2,1,175000
1456,13175,3,1,0,2,0,210000
1457,9042,4,0,0,2,0,266500
1458,9717,2,1,0,1,0,142125
1459,9937,3,1,0,1,1,147500

In [16]:
attributes_to_sum = ['BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath']

# Create a new column 'TotalBathrooms' with the sum of the selected attributes
nf['TotalBathrooms'] = df[attributes_to_sum].sum(axis=1)

In [17]:
nf

,LotArea,BedroomAbvGr,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,SalePrice,TotalBathrooms
0,8450,3,1,0,2,1,208500,4
1,9600,3,0,1,2,0,181500,3
2,11250,3,1,0,2,1,223500,4
3,9550,3,1,0,1,0,140000,2
4,14260,4,1,0,2,1,250000,4
...,...,...,...,...,...,...,...,...
1455,7917,3,0,0,2,1,175000,3
1456,13175,3,1,0,2,0,210000,3
1457,9042,4,0,0,2,0,266500,2
1458,9717,2,1,0,1,0,142125,2
1459,9937,3,1,0,1,1,147500,3

In [18]:
columns_to_drop = ['BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath']

nf.drop(columns=columns_to_drop, inplace=True)

In [19]:
nf

      LotArea  BedroomAbvGr  SalePrice  TotalBathrooms
0        8450             3     208500               4
1        9600             3     181500               3
2       11250             3     223500               4
3        9550             3     140000               2
4       14260             4     250000               4
...       ...           ...        ...             ...
1455     7917             3     175000               3
1456    13175             3     210000               3
1457     9042             4     266500               2
1458     9717             2     142125               2
1459     9937             3     147500               3

[1460 rows x 4 columns]

In [20]:
df_test = pd.read_csv('test.csv')

In [21]:
df_test

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.0,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.0,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.0,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [23]:
nf_test = df_test[['LotArea', 'BedroomAbvGr','BsmtFullBath', 'BsmtHalfBath', 'FullBath', 'HalfBath']].copy()

In [24]:
nf_test['TotalBathrooms'] = nf_test[attributes_to_sum].sum(axis=1)

In [25]:
nf_test

,LotArea,BedroomAbvGr,BsmtFullBath,BsmtHalfBath,FullBath,HalfBath,TotalBathrooms
0,11622,2,0.0,0.0,1,0,1.0
1,14267,3,0.0,0.0,1,1,2.0
2,13830,3,0.0,0.0,2,1,3.0
3,9978,3,0.0,0.0,2,1,3.0
4,5005,2,0.0,0.0,2,0,2.0
...,...,...,...,...,...,...,...
1454,1936,3,0.0,0.0,1,1,2.0
1455,1894,3,0.0,0.0,1,1,2.0
1456,20000,4,1.0,0.0,1,0,2.0
1457,10441,3,0.0,1.0,1,0,2.0
1458,9627,3,0.0,0.0,2,1,3.0

In [26]:
nf_test.drop(columns=columns_to_drop, inplace=True)

In [27]:
nf_test

      LotArea  BedroomAbvGr  TotalBathrooms
0       11622             2             1.0
1       14267             3             2.0
2       13830             3             3.0
3        9978             3             3.0
4        5005             2             2.0
...       ...           ...             ...
1454     1936             3             2.0
1455     1894             3             2.0
1456    20000             4             2.0
1457    10441             3             2.0
1458     9627             3             3.0

[1459 rows x 3 columns]

In [30]:
nf_data = nf[['LotArea', 'BedroomAbvGr','TotalBathrooms']].copy()

In [32]:
nf_target = nf.drop(columns=['LotArea', 'BedroomAbvGr', 'TotalBathrooms'])

In [42]:
model = LinearRegression()

In [43]:
model.fit(nf_data, nf_target)

LinearRegression()

In [44]:
predictions = model.predict(nf_test)

In [46]:
nf_test_target = pd.read_csv('sample_submission.csv')

In [48]:
nf_test_target

        Id      SalePrice
0     1461  169277.052498
1     1462  187758.393989
2     1463  183583.683570
3     1464  179317.477511
4     1465  150730.079977
...    ...            ...
1454  2915  167081.220949
1455  2916  164788.778231
1456  2917  219222.423400
1457  2918  184924.279659
1458  2919  187741.866657

[1459 rows x 2 columns]

In [52]:
nf_test_tar = nf_test_target['SalePrice'].values

In [53]:
nf_test_tar

array([169277.0524984 , 187758.39398877, 183583.68356955, ...,
       219222.42340006, 184924.279659  , 187741.86665748])

In [54]:
mse = mean_squared_error(nf_test_tar, predictions )

In [55]:
mse

2187213754.242314

In [56]:
r2 = r2_score(nf_test_tar, predictions )

In [57]:
r2

-7.021547084397762

In [58]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(nf_test_tar, predictions)
mae

38059.81770202572

In [63]:
from sklearn.metrics import mean_squared_error
import numpy as np
rmse = np.sqrt(mean_squared_error(nf_test_tar, predictions))
rmse

46767.657138692695

In [64]:
from sklearn.metrics import explained_variance_score
evs = explained_variance_score(nf_test_tar, predictions)
evs

-7.010678489955568

In [65]:
from sklearn.metrics import mean_squared_log_error
msle = mean_squared_log_error(nf_test_tar, predictions)
msle

0.06920229221743118

In [66]:
from sklearn.metrics import median_absolute_error
medae = median_absolute_error(nf_test_tar, predictions)
medae

29057.17342509053